{% extends "base_generic.html" %}

<!--Assignment 5.1-->
{% block title %}
    <title>Inu's Little Library App</title>
{% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p>Welcome to <em>LocalLibrary</em>, a very basic Django app adapted by
        Inu Oh from Mozilla's<a href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Server-side/Django/Tutorial_local_library_website">
            Django tutorial
        </a></p>
    <h2>Dynamic content</h2>
    <p>The library holds:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }} </li>
        <li><strong>Copies available:</strong> {{ num_instances_available }} </li>
        <li><strong>Authors:</strong> {{ num_authors }} </li>
        <!--Assignment 5.2-->
        <li><strong>Genres:</strong> {{ num_genres }} </li>
        <!--<li><strong>Books with Word "the":</strong> {{ num_the_books }} </li>-->
    </ul>

    <p>
        You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}