{% extends "base_generic.html" %}


{% block content %}
<h1>Manage books in library</h1>

<header style="float:right" class="me-5">
    <!-- Search button https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form method="get" class="m-2 input-group">
        <input type="text" placeholder="Search ..." name="search" class="form-control"
            {% if search %} value="{{ search }}" {% endif %} >
        <button type="submit" class="btn btn-sm btn-success muted-link-style">
            <i class="fa fa-search"></i>
        </button>
        <a href="{% url 'book-manager' %}"
            class="btn btn-sm btn-outline-dark link-style pt-2">
            <i class="fa fa-undo"></i>
        </a>
    </form>
</header>

<main>
{% for copy in bookinstance_list %}
    <p class="pb-3">
        <a href="{% url 'book-detail' copy.book.id %}" class="fs-5">
            {{ copy.book.title }}
        </a> by
        <a href="{{ copy.book.author.get_absolute_url }}" class="fs-5">
            {{ copy.book.author.last_name }}, {{ copy.book.author.first_name }}
        </a><br>
        <strong class="p-2">Genre: </strong>
            {{ copy.book.genre.all|join:" &#8226; " }}<br>
        <strong class="p-2">Langauge: </strong> {{ copy.book.language.name }}<br>
        <strong class="p-2">Imprint:</strong> {{ copy.imprint }}<br>
        <strong class="p-2">Status:</strong> {{ copy.get_status_display }}<br>
        <strong class="p-2">ID:</strong> {{ copy.id }}<br>
        {% if perms.catalog.change_bookinstance %}
        {% if copy.status == 'a' %}
            <a href="{% url 'loan-book' copy.id %}"
                class="btn btn-sm btn-outline-primary m-1">Lend out copy</a>
        {% else %}
            <a href="{% url 'status-update' copy.id %}"
                class="btn btn-sm btn-outline-primary m-1">
                {% if copy.status == 'o' %}
                    Return copy
                {% else %}
                    Change status
                {% endif %}
            </a>
        {% endif %}
        {% if copy.status != 'o' %}
        <a href="{% url 'bookinst-update' copy.id %}"
            class="btn btn-sm btn-outline-success m-1">Edit imprint</a>
        {% endif %}{% endif %}
        {% if perms.catalog.delete_bookinstance %}
        {% if copy.status == 'a' or copy.status == 'm' %}
            <a href="{% url 'bookinst-delete' copy.id %}"
                class="btn btn-sm btn-outline-danger fw-bold m-1">Delete copy</a>
        {% endif %}{% endif %}
    </p>
{% endfor %}
</main>

{% endblock %}