{% extends "base_generic.html" %}


{% block content %}
<h1>Browse book copies</h1>

<header style="float:right" class="me-5">
    <!-- Search button https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form method="get" class="m-2 input-group">
        <input type="text" placeholder="Search ..." name="search" class="form-control"
            {% if search %} value="{{ search }}" {% endif %} >
        <button type="submit" class="btn btn-sm btn-success muted-link-style">
            <i class="fa fa-search"></i>
        </button>
        <a href="{% url 'book-manager' %}"
            class="btn btn-sm btn-outline-dark link-style pt-2">
            <i class="fa fa-undo"></i>
        </a>
    </form>
</header>

<main>
{% for copy in bookinstance_list %}
    <p class="pb-3">
        <a href="{% url 'book-detail' copy.book.id %}">
            {{ copy.book.title }}
        </a> by
        <a href="{{ copy.book.author.get_absolute_url }}">
            {{ copy.book.author.last_name }}, {{ copy.book.author.first_name }}
        </a> ({{ copy.book.genre.name }})<br>
        <strong>Genre: </strong> {{ copy.book.genre.name }}
        <strong>Langauge: </strong> {{ copy.book.language.name }}
        <strong>Imprint</strong>: {{ copy.imprint }}<br>
        <strong>Status</strong>: {{ copy.status }}
        <strong>ID</strong>: {{ copy.id }}<br>
        <a href=""
            class="btn btn-sm btn-outline-primary">Change status</a>
        <a href=""
            class="btn btn-sm btn-outline-primary">Borrow copy</a>
        <a href=""
            class="btn btn-sm btn-outline-success">Edit copy</a>
        {% if copy.status == 'a' or copy.status == 'm' %}
        <a href="{% url 'bookinst-delete' copy.id %}"
            class="btn btn-sm btn-outline-danger fw-bold">Delete copy</a>
        {% endif %}
    </p>
{% endfor %}
</main>

{% endblock %}