{% extends "base_generic.html" %}


{% block content %}
<h1>Browse book copies</h1>

<header>

</header>

<main>
{% for copy in bookinstance_list %}
    <p class="pb-3">
        <a href="{% url 'book-detail' copy.book.id %}">
            {{ copy.book.title }}
        </a> by
        <a href="{% url 'author-detail' copy.book.author.id %}">
            {{ copy.book.author }}
        </a><br>
        <strong>Langauge: </strong> {{ copy.book.language }}
        <strong>Imprint</strong>: {{ copy.imprint }}<br>
        <strong>Status</strong>: {{ copy.get_status_display }}
        <strong>ID</strong>: {{ copy.id }}<br>
        <a href="">Change status</a>
    </p>
{% endfor %}
</main>

{% endblock %}