{% extends "base_generic.html" %}


{% block addinst %}
{% if perms.catalog.add_bookinstance %}
    <li>
        <a href="{% url 'bookinst-create' book.pk %}" class="p-3">
            Add book copy
        </a>
    </li>
{% endif %}
{% endblock %}


{% block content %}
<h1>Title: {{ book.title }}</h1>

<p>
    <strong>Author:</strong>
    <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
</p>
<p><strong>Summary:</strong> {{ book.summary }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>
<p><strong>Language:</strong> {{ book.language }}</p>
<p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies <a href="{% url 'bookinst-create' book.pk%}"
        class="btn btn-outline-primary mx-3" >Add a copy</a> </h4>
    {% for copy in book.bookinstance_set.all %}
        <hr />
        <p class="{% if copy.status == 'a' %}text-success fw-bold{% elif copy.status == 'm' %}text-danger fw-bold{% else %}text-warning fw-bold{% endif %}">
            {{ copy.get_status_display }}
        </p>
        {% if copy.status != 'a' %}
            <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
        {% endif %}
            <p>
                <strong>Imprint:</strong> {{ copy.imprint }}
                <a href="{% url 'bookinst-update' copy.id %}"
                    class="btn btn-sm btn-outline-primary mx-3">Edit imprint</a>
            </p>
            <p class="text-muted">
                <strong>ID: </strong> {{ copy.id }}
                {% if copy.status == 'a' or copy.status == 'm' %}
                <a href="{% url 'bookinst-delete' copy.id %}"
                    class="btn btn-sm btn-outline-danger mx-3">Delete copy</a>
                {% endif %}
            </p>
    {% endfor %}
</div>
{% endblock %}