{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Book: {{ book }}</h1>

{% if book.book_instance_set.all %}
    <p>
        You can't delete this book until all its instences have been deleted.
    </p>
    <p>
        Return to <a href="{% url 'book-detail' book.id %}"
    </p>

{% else %}
    <p>Are you sure you want to delete the book?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" action="" value="Yes, delete." autofocus
            class="btn btn-outline-success m-2">
        <a href="{% url 'book-detail' book.id %}"
            class="btn btn-outline-danger m-2">Cancel</a>
    </form>
{% endif %}

{% endblock %}