{% extends "base_generic.html" %}


{% block content %}
    <h1>
        <span class="pe-5">Language list</span>
        {% if perms.catalog.add_language %}
            <a class="btn btn-outline-primary mb-2 "
                href="{% url 'language-create' %}">Add new language</a>
        {% endif %}
    </h1>
    {% if language_list %}
        <ul>
        {% for lang in language_list %}
            <li>
                {{ lang }}
                <a href="{% url 'language-update' lang.id %}"
                    class="mx-3">
                    <i class="far fa-edit"></i>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no genres listed.</p>
    {% endif %}
{% endblock %}